.container{
         
    text-align: left;
    align-content: center;
    margin-top:8%;
    max-width: 400px;
}
.container input{
    align-self:center;
    max-width: 30vw;
    margin-bottom: 5%;
}
.container button{
float: right;

}
.container h1{
font-size: 24pt;
margin-bottom: 6%;
font-weight: 300;
}
#loading{
display: inline;
}